Print

In [6]:
print("My name is :", "Mohab")

My name is : Mohab

Comments

In [12]:
print("This is a simple Python script.")
"""prints the sum of two numbers."""
print("The sum of 5 and 3 is:", 5 + 3)

This is a simple Python script.
The sum of 5 and 3 is: 8

Format

In [16]:
print("my name is {x} and I am {y} years old".format(x="Mohab", y=22))
print("my name is {} and I am {} years old".format("Mohab", 22))
print("my name is {0} and I am {1} years old".format("Mohab", 22))

my name is Mohab and I am 22 years old
my name is Mohab and I am 22 years old
my name is Mohab and I am 22 years old

In [19]:
x = "Mohab"
y = 22
s = "ML"
print("my name is {x}, I am {y} years old and I'm Enrolled in {s} course".format(x=x,y=y,s=s))

my name is Mohab, I am 22 years old and I'm Enrolled in ML course

Slicing

In [22]:
name = "amit learning"
print(name[5:10:1])  # slicing with step

learn

String Function

In [41]:
x = "Mohab Islam"
print(x.upper())

MOHAB ISLAM

In [42]:
print(x)

Mohab Islam

In [43]:
x.replace("Islam", "Ahmed")

'Mohab Ahmed'

In [45]:
print(x.upper())

MOHAB ISLAM

In [49]:
m_names = x.split()

In [47]:
print(m_names)

['Mohab', 'Islam']

In [56]:
m_join = " ".join(m_names)

In [57]:
print(m_join)

Mohab Islam

In [60]:
print("Hello\nWorld")
print("Hello\bWorld")
print("Hello\tWorld")

Hello
World
HellWorld
Hello	World

In [63]:
x = "mohab"
print(hex(id(x)))

0x1ba9136fb40