 ## ðŸ“˜Python Assignment â€“ File Operations & Functions
-   Machine Learning Diploma â€“ Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name : Mohab Islam Ahmed Mohamed

1. Add an item to a tuple

In [3]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
my_list = list(my_tuple)
my_list.append(item_to_add)
new_tuple = tuple(my_list)
print(new_tuple)

(1, 2, 3, 4)

{Hint}: Tuples cannot change. Convert to list â†’ modify â†’ tuple.

2. Sum all the items in a list

In [4]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0
for i in numbers:
    total += i
print(total)

# Hint: Use a for loop and accumulate values into total.

50

3. Multiply all items in a list

In [5]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
for i in numbers:
    result *= i 

print(result)
# Hint: Start from 1 and multiply one element at a time.

24

4. Get the smallest number from a list

In [7]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
for i in numbers:
    if i < smallest:
        smallest = i

print(smallest)
# Hint: Replace smallest when you find a smaller value.

1

5. Get the largest number from a list

In [8]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
for i in numbers:
    if i > largest:
        largest = i

print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

25

6. Count number of strings with length â‰¥ 2

In [10]:
words = ["hi", "a", "hello", "no", "on", "uuu", "j"]

# TODO: count strings with length >= 2
count = 0
for i in words:
    if len(i) >= 2:
        count +=1

print(count)
# Hint: Use len(word) and a condition.

5

7. Clone or copy a list

In [12]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here
cloned = []
for i in original:
    cloned.append(i)
print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4]

8. Remove item(s) from a set

In [13]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
# your code here
my_set.remove(4)
print(my_set)
# Hint: Use remove() or discard().

{1, 2, 3, 5}

9. Check if a set is subset of another

In [16]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
# your code here
print("set 1 is subset of set 2" *set1.issubset(set2))
print("set 2 is subset of set 1" *set2.issubset(set1))

# Hint: Use .issubset() or compare elements manually.

set 1 is subset of set 2

10. Remove all elements from a set

In [19]:
my_set = {1, 2, 3}

# TODO: clear the set
# your code here
my_set.clear()
print(my_set)

# Hint: Sets have a method that makes them empty.

set()

11. Find max and min values in a set

In [24]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
# your code here
mylist = list(my_set)
maximum = mylist[0]
minimum = mylist[0]
for i in mylist:
    if i > maximum:
        maximum = i
    if i < minimum:
        minimum = i
print("Max:", maximum)
print("Min:", minimum)
# Hint: Convert to a list or loop through items.

Max: 25
Min: 1

12. Find the index of an item in a tuple

In [25]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
index_value = my_tuple.index(30)

print(index_value)
# Hint: Tuples have a method for this.

2

13. Convert a tuple to a dictionary

In [26]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
my_dict  = dict(my_tuple)

print(my_dict)
# Hint: A dictionary can be built directly from pairs.

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a list of tuples into individual lists

In [43]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here
lis = zip(*pairs)
lists = list(lis)
list1 = lists[0]
list2 = lists[1]
print(list1)
print(list2)



# Hint: You can loop OR use zip(*pairs).

(1, 3, 5)
(2, 4, 6)

15. Reverse a tuple

In [44]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
listed = list(my_tuple)
listed.reverse()
reversed_tuple = tuple(listed)

print(reversed_tuple)
# Hint: Use slicing.

(5, 4, 3, 2, 1)

16. Convert a list of tuples into a dictionary

In [45]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
my_dict  = dict(pairs)

print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

{'a': 1, 'b': 2, 'c': 3}

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [55]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
for i in data:
    x = list(i)
    x[-1]=100
    z=tuple(x)
    new_list.append(z)
print(new_list)

# Hint: Convert each tuple to list, edit, convert back.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a tuple by its float element

In [74]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))
def sort_key(items):
    return items[1]
sorted_items = sorted(items, key=sort_key)

print(sorted_items)
# Hint: Use sorted() with a key function.

[('item2', 5.7), ('item3', 8.9), ('item1', 10.5)]

## challenge part

Find the longest word in a list

In [76]:
words = ["hi", "hello", "fantastic", "world"]

longest = sorted(words, key=len)[-1]

print(longest)
# Hint: Track the word with the largest len().

fantastic

Merge two dictionaries

In [86]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

result = {}
result = {**d1, **d2}
print(result)
# Hint: Use unpacking or update().

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Sum values in a dictionary

In [87]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values
total = 0
for i in data.values():
    total += i
print(total)

60

solution

In [ ]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

New Challenge

In [92]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = 0      # TODO: start total at 0

for student_data in scores.values():# TODO: loop over values of the dictionary
    for score in student_data.values(): # TODO: loop over inner dictionary values
        total += score              # TODO: update the total
print(total)       # TODO: print the result

#hint you will need nested for loop one

510